.cp-btn{
    border: 2px solid white;
    color: white;
    background: transparent;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.cp-btn-white{
    border: 2px solid white;
    color: black;
    background: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}