
* {
  direction: rtl !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'shabnam FD';
}
body{
  overflow-x: hidden;
}
.rtl {
  text-align: right !important;
}